.wrapper {
    --search-height: 46px;
    width: 100%;
    height: var(--default-layout-header-hight);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    align-items: center;
    justify-content: space-between;
    width: var(--default-layout-width);
}

// Button
.more-button {
    font-size: 2rem;
    margin-left: 18px;
    background: transparent;
    cursor: pointer;
    padding: 8px 16px;
}

// Acions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 8px;
    padding: 4px 12px;
    font-size: 2.4rem;
    padding: 2px 3px;
    background-color: transparent;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -6px;
    right: -10px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
    font-family: var(--font-family);
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 18px;
}
